appnope==0.1.0
astroid==1.4.5
backports.shutil-get-terminal-size==1.0.0
bottle==0.12.9
colorama==0.3.7
coverage==4.0.3
decorator==4.0.9
gnureadline==6.3.3
ipython==4.2.0
ipython-genutils==0.1.0
Jinja2==2.8
lazy-object-proxy==1.2.2
MarkupSafe==0.23
Paste==2.0.3
pep8==1.7.0
pexpect==4.0.1
pickleshare==0.7.2
ptyprocess==0.5.1
pylint==1.5.5
simplegeneric==0.8.1
six==1.10.0
traitlets==4.2.1
wrapt==1.10.8
